# Ignorar dependencias pesadas
node_modules
vendor

# Logs
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.log

# Env
.env
.env.*

# Archivos temporales
.DS_Store
Thumbs.db

# Builds
public/build
dist/
build/

# NO ignorar carpeta docker
# (antes tenías "docker/" y eso rompía tu deploy)
!.dockerignore
